<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>java1711web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>StudentMainServlet</servlet-name>
    <servlet-class>Student.controller.StudentMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMainServlet</servlet-name>
    <url-pattern>/StudentMainServlet</url-pattern>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>banjiMainServlet</servlet-name>
    <servlet-class>Student.controller.BanjiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>banjiMainServlet</servlet-name>
    <url-pattern>/banjiMainServlet</url-pattern>
    <url-pattern>/banji</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>courseMainServlet</servlet-name>
    <servlet-class>Student.controller.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseMainServlet</servlet-name>
    <url-pattern>/courseMainServlet</url-pattern>
    <url-pattern>/course</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherMainServlet</servlet-name>
    <servlet-class>Student.controller.teacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherMainServlet</servlet-name>
    <url-pattern>/teacherMainServlet</url-pattern>
    <url-pattern>/teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>Student.controller.InitServlst</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Student.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>Filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Student.controller.AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserMainServlet</display-name>
    <servlet-name>UserMainServlet</servlet-name>
    <servlet-class>Student.controller.UserMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMainServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.OnLineUserListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.MyHttpSessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>Student.controller.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>FileUpload.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerMainServlet</display-name>
    <servlet-name>ManagerMainServlet</servlet-name>
    <servlet-class>Student.controller.ManagerMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerMainServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaServlst</display-name>
    <servlet-name>AreaServlst</servlet-name>
    <servlet-class>Liandong.AreaServlst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaServlst</servlet-name>
    <url-pattern>/area</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>Liandong.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/city</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvienceServlet</display-name>
    <servlet-name>ProvienceServlet</servlet-name>
    <servlet-class>Liandong.ProvienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvienceServlet</servlet-name>
    <url-pattern>/province</url-pattern>
  </servlet-mapping>
</web-app>